body {
    font-family: "Fredoka", sans-serif;
    background-color: #f8f0e3;
    color: #333;
    padding: 20px;
    background-image: url("wood.png");
}

.quiz-container {
    max-width: 600px;
    margin: auto;
    background: #fff8e7;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border: 2px solid #d4a373;
}

.quiz-container h1 {
    text-align: center;
    color: #d2691e;
}

.question {
    margin-bottom: 20px;
}

.question h2 {
    font-size: 24px;
    font-weight: 500;
    color: #b5651d;
}

.options button {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 10px;
    background: #ffe4c4;
    cursor: pointer;
    color: #333333;
    font-size: 18px;
    font-family: inherit;
    font-weight: 400;
    transition: background 0.3s;
}

.options button:hover {
    background: #ffcc99;
}

.result {
    display: none;
    text-align: center;
    margin-top: 20px;
}

.result h2 {
    color: #d2691e;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out 1s forwards;
}
